# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Loader dev environments
run/
runs/
*/run/
*/runs/
.architectury-transformer/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
bin/

# OS
.DS_Store
Thumbs.db
